# Visual Studio & .NET Build Output
bin/
obj/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
[Dd]ebug/
[Rr]elease/
[Tt]emp/

# Node modules & temp test files
node_modules/
test.pptx

# OS specific files
.DS_Store
Thumbs.db
